<div class="text-center mb-4 mt-4">
  <h1>Wypożyczalnia narciarska</h1>
  <p>Zapraszamy do zapoznania się z naszą ofertą sprzętu narciarskiego i skorzystania z możliwości jego rezerwacji.</p>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-3 snowboardIMG">
          <img src="assets/images/snowboard.jpg" alt="snowboard" height="250" width="250">
          <div class="middle">
              <button routerLink="/snowboard" class="button buttonEquipment">Snowboard</button>
          </div>
      </div>
      <div class="col-sm-3 nartyIMG">
          <img  src="assets/images/narty.jpg" alt="narty" height="250" width="250">
          <div class="middle">
              <button routerLink="/narty" class="button buttonEquipment">Narty</button>
          </div>
      </div>
      <div class="col-sm-3 butyIMG">
          <img src="assets/images/buty.jpg" alt="buty" height="250" width="250">
          <div class="middle">
              <button routerLink="/buty" class="button buttonEquipment">Buty</button>
          </div>
      </div>
      <div class="col-sm-3 kijkiIMG">
          <img src="assets/images/kijki.jpg" alt="kijki" height="250" width="250">
          <div class="middle">
              <button routerLink="/kijki" class="button buttonEquipment">Kijki narciarskie</button>
          </div>
      </div>
    </div>
  </div>
